
.app-header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    background-color: #ddd;
}

.logo {
    height: 100%;
    width: auto;
}

.menu-item {
    position: relative;
    margin: auto 0;
    padding: 0 10px;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #333;
}

.auth {
    margin-left: auto;
    margin-right: 10px;
}