
.editor_tabs {
    display: flex;
    padding: 2px;
}

.tab:first-child {
    margin-left: 0;
}

.tab {
    background: #fff;
    margin-left: -5px;
    padding: 0 0 0 10px;
    border: 1px solid #555;
    border-radius: 0 10px 0 0;
    font-size: 10pt;
    cursor: pointer;
}

.tab:hover {
    box-shadow: 3px 0 5px #333;
    z-index: 11;
    transform: scale(1.1);
}

.active {
    z-index: 10;
    box-shadow: 0 0 3px #229;
    font-style: oblique;
}

.add_file {
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 20px;
    height: 20px;
    border: 1px solid #555;
    border-radius: 50%;
    font-weight: bold;
    background-color: #fff;
}

.add_file:hover {
    transform: scale(1.1);
}