* {
    box-sizing: border-box;
}

html, body, .App {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.App {
    user-select: none;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "header header header"
                         "explorer editor result"
                         "explorer editor console";
    grid-template-rows: 40px calc(50% - 20px) calc(50% - 20px);
    grid-template-columns: 10% 45% 45%;
}

.app-header {
    grid-area: header;
}

.explorer-wrapper {
    grid-area: explorer;
}

.explorer-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}

.editor-wrapper {
    grid-area: editor;
}

.resultView-wrapper {
    grid-area: result;
}

.console-wrapper {
    grid-area: console;
}