.home-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: #ccc;
}

.home-page li {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.project-link {
    color: #ccc;
    text-decoration: none;
}

.project-link:hover {
    color: #fff;
    text-decoration-color: #339933;
    text-decoration-line: underline;
}

.add-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 40px;
}

.add-project_input {
    padding: 2px;
    border: 1px solid #339933;
    border-radius: 5px;
}

.add-project_input:focus {
    border: 2px solid #339933;
    border-radius: 10px;
    outline: none;
}

.add-project_button {
    color: #333;
    background-color: #ccc;
    border: 2px solid #aaa;
    border-radius: 5px;
}

.add-project_button:focus {
    color: #ccc;
    background-color: #222;
    outline: none;
}