.console-wrapper {
    height: 100%;
    overflow-y: scroll;
    border: 1px solid #333333;
    border-radius: 5px;
}

.console-header {
    font-size: 10pt;
    color: #5a5a5a;
    border-bottom: 1px solid #aaa;
}

.console-row {
    display: flex;
    align-items: center;
    justify-content: normal;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 10pt;
    color: #333;
}

.console-row__child:first-child {
    border-left: 1px solid #ccc;
    padding-left: 3px;
}

.error {
    background-color: #fdd;
    color: #f22;
}

.console-row__child {
    font-size: 12pt;
    margin-left: 3px;
    font-style: italic;
}