.menu {
    position: absolute;
    top: 100%;
    left: -3px;
    display: none;
    padding: 5px;
    flex-direction: column;
    z-index: 90;
}

.menu-item:hover > .menu, .menu:hover {
    display: flex;
}

.menu-item > a {
    color: #000;
    text-decoration: none;
}

.menu_action {
    background-color: #ddd;
    box-shadow: 2px 2px 1px 1px #333;
    padding: 5px;
    border-bottom: 1px solid #666;
}

.menu_action:last-child {
    border-radius: 0 0 5px 5px;
}

.menu_action:first-child {
    border-radius: 5px 5px 0 0;
}

.menu_action:hover {
    background-color: #bbb;
}