.ReactCodeMirror {
    height: calc(100% - 50px);
}

.CodeMirror {
    height: 100%;
}

.editor-wrapper {
    position: relative;
    height: 100%;
}

.editor-row {
    width: 100%;
}

.editor-row_label {
    width: 100%;
    background: #fff;
}

.editor-row_code {
    width: 100%;
}

.editor-row_code:focus {
    outline: none;
}

.resizer {
    height: 100%;
    width: 10px;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: -5px;
    background-color: rgba(200, 200, 200, .3);
}

.editor-loader_outer {
    height: calc(100% - 50px);
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-loader_inner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: 1000ms loading infinite;
}

@keyframes loading {
    0% {
        background: radial-gradient(circle at top, #333 10%, #393 10%, #393 25%, #ccc 25%, #ccc 70%, #333 70%);
    }
    25% {
        background: radial-gradient(circle at left, #333 10%, #393 10%, #393 25%, #ccc 25%, #ccc 70%, #333 70%);
    }
    50% {
        background: radial-gradient(circle at bottom, #333 10%, #393 10%, #393 25%, #ccc 25%, #ccc 70%, #333 70%);
    }
    75% {
        background: radial-gradient(circle at right, #333 10%, #393 10%, #393 25%, #ccc 25%, #ccc 70%, #333 70%);
    }
    100% {
        background: radial-gradient(circle at top, #333 10%, #393 10%, #393 25%, #ccc 25%, #ccc 70%, #333 70%);
    }
}